In [1]:
path = "search.xls"

In [2]:
import pandas as pd
import numpy as np

In [3]:
%pdb on

Automatic pdb calling has been turned ON

Hi, My name is Min-slice

In [4]:
file = pd.read_excel(path, header=1)
dataFrame = pd.DataFrame(file)

Problem 1
The on-line schedule makes it hard to see when classes are offered. So produce a table (or 
dataframe) that shows when classes are offered. Divide classes into Intro classes (150, 
150L, 160, 160L), lower division (200, 300 & 400) and upper division (500 & 600). See the 
table below. This may be the hardest problem in the assignment.

Problem 2
A number of classes have multiple sections making it hard to see how many students are 
taking each class. Produce and show a dataframe that shows how many students are in 
each class. Show the entire dataframe. Part of such a table for Fall is below.

In [5]:
#Select 'Title', 'Course #', and 'Total Enrolled'
meh = dataFrame[['Course #', 'Title', 'Total Enrolled']]
# Summing the total number of students enrolled for each unique course
grouped = meh.groupby(['Course #', 'Title']).sum()
grouped

                                    Total Enrolled
Course # Title
100      COMPTR SCIENCE PRINCIPLES            38.0
150      INTRO COMPUTER PROGRAMMNG           175.0
         INTRO COMPUTER PROGRM LAB           288.0
160      INT COMPUTER PROGRAMMING            221.0
         INT COMPUTR PROGAMMNG LAB           430.0
200      INTRO DATA SCIENCE PYTHON            22.0
210      DATA STRUCTURES                      64.0
240      COMPUTER ORGANIZATION                65.0
250      INTRO TO SOFTWARE SYSTEMS            57.0
299      SPECIAL STUDY                         0.0
320      PROGRAMMING LANGUAGES                98.0
370      COMPUTER ARCHITECTURE               127.0
440      SOCIAL AND ETHICAL ISSUES            85.0
460      ALGORITHMS                          115.0
480      OPERATING SYSTEMS                   180.0
490      SENIOR SEMINAR                      121.0
496      DATA STRUC SCINTS &ENGNRS            89.0
497      UNDERGRAD RESRCH SEMINAR              0.0
498      UNDERGRAD HONORS THESIS               0.0
499      SPECIAL STUDY                         1.0
514      DATABASE THEORY IMPLEMENT           132.0
530      SYSTEMS PROGRAMMING                 121.0
532      SOFTWARE ENGINEERING                 67.0
549      MACHINE LEARNING                    115.0
574      COMPUTER SECURITY                   148.0
578      WIRELESS NETWORKS                   117.0
581      COMPUTATIONAL LINGUISTICS            15.0
582      INTRO SPEECH PROCESSING              30.0
583      3D GAME PROGRAMMING                  77.0
596      ADV 3D GAME PRGRMNG                  27.0
605      SCIENTIFIC COMPUTING                  9.0
649      BIG DATA TOOLS & METHODS             60.0
653      DATA MINING AND KNOWLEDGE             0.0
662      THEORY OF PARALLEL ALGORS            60.0
696      MODERN CRYPTOGRPHY & APPS            25.0
790      PRACT TEACHING COMP SCI               0.0
792      CURR PRACTICAL TRAINING               3.0
797      RESEARCH                              0.0
798      SPECIAL STUDY                         0.0
799      COMPREHENSIVE EXAM                    1.0
         THESIS OR PROJECT                     1.0
         THESIS OR PROJECT EXTEN               0.0

Problem 3
Produce and show a dataframe that shows how many classes are held in each classroom.

In [8]:
# Grab Building + Room Columns
class_df = dataFrame[['Building', 'Room']]
# size will return total number of elements for that particular Building + Room combination
classes_per_room = class_df.groupby(['Building', 'Room']).size()

# Rows that do not have a building or room associated
# with them are automatically dropped by grouped by
classes_per_room

Building  Room
AH        2116     2
AL        101      1
          204      1
COM       105      1
          207      1
ENS       291      1
GMCS      305      1
          306      1
          308      2
          314      1
          324      1
          425      3
HT        183      4
LH        343      2
          345      1
          410      3
          439      2
          445      2
LSS       244      1
          365      1
M         245      5
          265      2
ON        LINE    28
P         144      4
          146      1
          244      1
PG        153      1
PS        130      3
PSFA      350      3
          374      1
SH        105      1
          119      2
          123      2
          316      1
          320      1
SSW       2522     2
          3620     1
WC        201      1
dtype: int64

Problem 4 
Produce and show a dataframe shows how many students are in a class at a given time. 
on Tuesday & Thursday. For each time there will be one number - the number of students 
in all the classed at that time.

Problem 5
Produce a bar chart showing the number of students in classes at each time. That is the 
result of problem 4.